body{
    background-color: rgb(141, 219, 250);
}
img{width: 550px;}
header{
    /* cor de fundo*/
    background-color: rgb(22, 22, 22);
    /*cor de texto*/
    color: rgb(240, 248, 248);
    /*alinhamento do texto*/
    text-align: center;
    /*preenchimento*/
    padding: 5px; 
}
footer{background-color: rgb(22, 22, 22);
        color: rgb(240, 248, 248);
        text-align: center;
        padding: 2px;
}
.container{
    display: flex;
    border-style:solid;
    border-style:black;
}
.texto{
    flex: 1;
    padding:5%;

}
.imagem{
    flex: 2;
    text-align:left;
}